@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Space+Mono&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Space Mono', monospace;
}

/* ================================================================================= */
/*                          Navbar                                             */
/* ================================================================================= */

#mainNav.navbar-shrink .nav-link:hover {
    color: turquoise;
}

#mainNav.navbar-shrink .nav-link:active {
    color: turquoise;
}

#mainNav.navbar-shrink .nav-link.active {
    color: turquoise;
    outline: none;
    border-bottom: 0.25rem solid turquoise;
}

#mainNav .navbar-toggler {
    color: rgba(0, 0, 0, 0.6);
    border: 1.3px solid rgba(0, 0, 0, 0.6);
}

@media (max-width: 992px) {
    #mainNav .navbar-brand {
        margin: -1rem 0;
    }
}

/* ================================================================================= */
/*                          Masthead                                             */
/* ================================================================================= */

.masthead {
    background: linear-gradient(to top, #000 25%, rgba(20, 20, 20, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
    padding-top: 2rem;
}

.masthead h1, .masthead .h1 {
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: 0.8rem;
}

.masthead h2 {
    font-family: 'Space Mono', monospace;
    margin-bottom: 0rem;
}

#masthead-content {
    margin-top: 9rem;
    margin-bottom: 3rem;
}

.intro {
    margin: 0 18.5rem 0 0;
}

@media (max-width: 992px) {
    .masthead {
        padding-top: 15rem;
    }

    #masthead-content {
        margin-top: -8rem;
        margin-bottom: -10rem;
    }

    small.intro {
        margin: 0;
    }

    #masthead-img {
        margin-top: 2rem;
    }
}

/* ================================================================================= */
/*                          About Me                                             */
/* ================================================================================= */

#about-me-img {
    border-radius: 8%;
    padding: 10px;
    box-shadow: 5px 10px turquoise;
}

.skills-ul {
    list-style: none;
    margin-top: 20px;
}

.skills-list {
    margin: 0 0 10px -10px;
    font-size: small;
    position: relative;
    /* margin: 0 40px 10px; */
    /* padding: 0 0 0 20px; */
    /* list-style-type: square; */
}

.list li::before {
    position: absolute;
    left: -10px;
    content: "\232A";
    color: turquoise;
    display: inline-block; 
    /* width: 5em; */
    /* margin-left: -1em; */
}

@media (max-width: 768px) {
    .skills-ul {
        margin-top: 18px;
    }
    .list li::before {
        left: -1px;
    }
}

@media (max-width: 575px) {
    #second-skills-ul {
        margin-top: -5px;
        margin-bottom: -9rem;
    }

}

@media (max-width: 992px) {
    #about {
        margin-top: -6rem;
    }
}

.section-name {
    margin: 0 0 50px;
}

/* ================================================================================= */
/*                          small                                             */
/* ================================================================================= */

small {
    color: turquoise;
    font-size: 20px;
}

.smaller {
    color: turquoise;
}

a.smaller {
    text-decoration: none;
}

/* ================================================================================= */
/*                          Projects                                             */
/* ================================================================================= */

.project-description {
    margin: 0 4rem .7rem 4rem;
}

h6 > small {
    font-size: 16px;
}

.project-repo {
    font-size: 2.5rem;
    color: turquoise;
}

/* ================================================================================= */
/*                          Contact / Footer                                             */
/* ================================================================================= */

footer {
    /* background: linear-gradient(to bottom, #000 0%, rgb(20, 20, 20) 60%, rgb(0, 0, 0) 100%); */
    background: linear-gradient(to bottom, #000 0%, rgba(20, 20, 20, 0.9) 100%, rgba(0, 0, 0, 0.8) 75%);
}

.socials {
    border: 1.5px solid;
    border-color: rgba(64, 224, 208, 0.9);
}

.footer-illustrations {
    text-decoration: none;
    margin-bottom: -4px;
}

.built-by {
    margin-top: -10px;
}

.footer-logo {
    margin-top: 7px;
    margin-bottom: -3rem;
}

@media (max-width: 992px) {
    .contact-section {
        margin-top: -6rem;
    }
}

/* ================================================================================= */
/*                          Effects                                                  */
/* ================================================================================= */
.hovereffect2 {
    display:block;
    position:relative;
    -webkit-transition:all .3s linear;
    transition:all .3s linear;
}

.hovereffect {
    display:block;
    position:relative;
    background-size: 300% 100%;
    border-radius: 10px;
}

.hovereffect:hover {
    background-position: 100% 0;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-position: 100% 0;
    background-image: linear-gradient(to right, #40e0b0a2, #40E0D0, #40cde0);
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    transform: translateY(-0.25em);
    opacity: 80%;
}

.hovereffect2:hover {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}

.underline-effect {
    display: inline-block;
    position: relative;
}

.underline-effect::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 1px;
    background-color: turquoise;
    transition: width 0.25s ease-out;
}

.underline-effect:hover::before {
    width: 100%;
}

.loader-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 10000;
    top: 0;
    left: 0;
    background: linear-gradient(to top, #000 0%, rgb(20, 20, 20) 100%, rgb(0, 0, 0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    display: inline-block;
    width: 100px;
    height: 100px;
    position: relative;
    animation: loader 2s linear infinite;
}

.loader-inner {
    border-radius: 50%;
    vertical-align: top;
    display: inline-block;
    width: 100%;
    animation: loader-inner 2s linear infinite;
}

/* @keyframes loader {
    0% {transform: rotate(0deg);}
    
    25% {transform: rotate(180deg);}
    
    50% {transform: rotate(180deg);}
    
    75% {transform: rotate(360deg);}
    
    100% {transform: rotate(360deg);}
} */
  
@keyframes loader-inner {
    0% {
      background: turquoise;
    }
    
    25% {
      background: rgb(64, 213, 224);
    }
    
    50% {
      background: rgb(64, 171, 224);
    }
    
    75% {
      background: rgb(64, 224, 205);
    }
    
    100% {
      background: turquoise;
    }
}