@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Space+Mono&display=swap');

body {
    font-family: 'Space Mono', monospace;
}

/* ================================================================================= */
/*                          Navbar                                             */
/* ================================================================================= */

#mainNav.navbar-shrink .nav-link:hover {
    color: turquoise;
}

#mainNav.navbar-shrink .nav-link:active {
    color: turquoise;
}

#mainNav.navbar-shrink .nav-link.active {
    color: turquoise;
    outline: none;
    border-bottom: 0.25rem solid turquoise;
}

#mainNav .navbar-toggler {
    color: rgba(0, 0, 0, 0.6);
    border: 1.3px solid rgba(0, 0, 0, 0.6);
}

@media (max-width: 992px) {
    #mainNav .navbar-brand {
        margin: -1rem 0;
    }
}

/* .resume {
    border-style: solid;
    border-color: turquoise;
    border-radius: 5px;
    border-width: 2px;
} */

/* ================================================================================= */
/*                          Masthead                                             */
/* ================================================================================= */

.masthead {
    background: linear-gradient(to top, #000 0%, rgba(20, 20, 20, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

.masthead h1, .masthead .h1 {
    font-family: 'Raleway', sans-serif;
    color: whitesmoke;
    font-size: 4.5rem;
    line-height: 4.5rem;
    letter-spacing: 0.8rem;
}

.masthead h2, .masthead .h2 {
    font-family: 'Space Mono', monospace;

}

#masthead-content {
    margin-top: 9rem;
    margin-bottom: 3rem;
}

.intro {
    margin: 0 18.5rem 0 0;
}

@media (max-width: 992px) {
    #masthead-content {
        margin-top: -6rem;
        margin-bottom: -10rem;
    }

    .intro {
        margin: 0;
    }
}

/* ================================================================================= */
/*                          About Me                                             */
/* ================================================================================= */

#about-me-img {
    border-radius: 8%;
    padding: 10px;
    box-shadow: 5px 10px turquoise;
}

.skills-ul {
    list-style: none;
    margin-top: 20px;
}

.skills-list {
    margin: 0 0 10px -10px;
    font-size: small;
    position: relative;
    /* margin: 0 40px 10px; */
    /* padding: 0 0 0 20px; */
    /* list-style-type: square; */
}

.list li::before {
    position: absolute;
    left: -10px;
    content: "\232A";
    color: turquoise;
    display: inline-block; 
    /* width: 5em; */
    /* margin-left: -1em; */
}

@media (max-width: 768px) {
    .skills-ul {
        margin-top: 18px;
    }
    .list li::before {
        left: -1px;
    }
}

@media (max-width: 575px) {
    #second-skills-ul {
        margin-top: -5px;
        margin-bottom: -9rem;
    }

}

.section-name {
    margin: 0 0 50px;
}

/* ================================================================================= */
/*                          small                                             */
/* ================================================================================= */

small {
    color: turquoise;
    font-size: 20px;
}

/* ================================================================================= */
/*                          Projects                                             */
/* ================================================================================= */

.project-description {
    margin: 0 4rem .7rem 4rem;
}

h6 > small {
    font-size: 16px;
}

.project-repo {
    font-size: 2.5rem;
    color: turquoise;
}

/* ================================================================================= */
/*                          Contact / Footer                                             */
/* ================================================================================= */

.socials {
    border: 1.5px solid;
    border-color: rgba(64, 224, 208, 0.9);
}

.footer-illustrations {
    text-decoration: none;
    margin-bottom: -4px;
}

.built-by {
    margin-top: -10px;
}

.footer-logo {
    margin-top: 7px;
    margin-bottom: -3rem;
}

/* .footer-illustrations:link {
    text-decoration: none;
}

.footer-illustrations:visited {
    text-decoration: none;
}

.footer-illustrations:hover {
    color: turquoise;
} */

/* ================================================================================= */
/*                          Hover Effect                                             */
/* ================================================================================= */
.hovereffect img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect2 img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect2:hover img {
    -ms-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
}